<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    <p>
        <a href="index.php?controller=starships&action=index">Liste des vaisseaux</a>
    </p>
    <p>
        <a href="index.php?controller=user&action=connect">Se connecter</a>
    </p>
</body>
