<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page non trouvée</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Erreur 404 : Page non trouvée</h1>
        <p>La page que vous cherchez n'existe pas.</p>
        <a href="index.php">Retour à l'accueil</a>
    </div>
</body>
</html>
