<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
    <a href="index.php">Retour à l'accueil</a>
    <h1>Login</h1>
    <form action="index.php?controller=users&action=authenticate" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        <label for="confirm_password">Confirmer le mot de passe</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
        <input type="submit" value="Se connecter">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <p>Pas encore de compte ? <a href="index.php?controller=users&action=register">S'inscrire</a></p>
</body>
</html>